@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;700&family=Dancing+Script:wght@400;700&family=Indie+Flower&family=Suez+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Teko:wght@600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  
--primeira-cor: #1C5931;
--segunda-cor: #124022;
--terceira-cor: yellowgreen;
--letra1-cor: rgb(170, 255, 0);
--letra2-cor: #cbffdd;
--letra3-cor: #369927;

}
*{
  font-family: 'Caveat', cursive;
}

@media (prefers-color-scheme: dark) {
  :root {
  
    --primeira-cor: #1C5931;
  --segunda-cor: #124022;
  --terceira-cor: yellowgreen;
  --letra1-cor: #369927;
  --letra2-cor: #9BBFAB;
  --letra3-cor: #5E8C72;

  }
}

