
@media (min-width:200px){
    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        margin: 1rem 0rem;
    }
    .container h4{
        font-size: 1.3rem;
        color: var(--terceira-cor);
        text-align: center;
        font-family: 'Caveat', cursive;
    }
    .container img{
        width: 95%;
        border-radius: 5px;
        box-shadow: 4px 3px 4px rgba(0, 0, 0, 0.2);
    }
}
@media (min-width:320px){
    .container h4{
        font-size: 1.5rem;
    }
    .container img{
        width: 100%;
    }
 
}

@media (min-width:768px){
    .container h4{
        font-size: 1.2rem;
    }
    .container img{
        width: 80%;
    }
}
@media (min-height: 280px) and (orientation: landscape){
    .container h4{
        font-size: 1.3rem;
    }
    .container img{
        width: 70%;
    }
}
@media (min-height: 375px) and (orientation: landscape){
    .container h4{
        font-size: 1.3rem;
    } 
}
@media (min-height: 414px) and (orientation: landscape){
    .container h4{
        font-size: 1.5rem;
    } 
}
@media (min-height: 800px) and (orientation: landscape){
    .container h4{
        font-size: 1.5rem;
    }
}
@media (min-height: 512px) and (orientation: landscape){
    .container img{
        width: 80%;
    }
}
@media (min-height: 540px) and (orientation: landscape){
    .container img{
        width: 80%;
    }
}
@media (min-width:900px){
    .container h4{
        font-size: 1.6rem;
    }
}
@media (min-width:1024px){
    .container h4{
        font-size: 1.6rem;
    }
}
@media (min-width:1224px){
    .container h4{
        font-size: 1.6rem;
    }
}