
@media (min-width:280px){
    .hea{
        z-index: 0;
        position: relative;
        background-position-y: 4rem;
        padding-top: 4rem;
        background-image: url('.././image/3.png');
        background-size: 143%;
        background-repeat: no-repeat;
        margin: auto;
    }
    .divisor{
        display: block;
        margin: .3rem auto;
        padding: 5px;
    }
    .hea .contain{
        width: 98.7vw;
        background-color: #12402293;
        min-height: 100px;
    }
    .pos{
        display: flex;
    }
    .posi{
        height: 100px;
    }
    .hea h1{
        color: yellowgreen;
        padding-top: 8%;
        text-align: end;
        font-family: fantasy;
        font-size: 1.3rem;
        text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.324);
        margin: 0px .5rem;
    }
    .hea h3{
        margin: 1.5rem 0.3rem 0.2rem;
        width: 69%;
        margin-left: 30%;
        color: #DCF2E8;
        text-align:center;
        font-family: inherit;
        font-weight: 500;
        font-size: .9rem;
        text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.324);
        
    }
    .hea .but{
        display: flex;
        justify-content: center;
        gap: 20px;
        margin-left: 12%;
        margin-bottom: .3rem;
    }
    .hea .but button{
        padding: 1px;
        background-color: rgb(219, 239, 200);
        color: yellowgreen;
        font-size: .9rem;
        font-weight: bold;
        min-width: 105px;
        border: 1px solid yellowgreen;
    }
    .hea .but button:hover{
        background-color: yellowgreen;
        color:  rgb(255, 255, 255);
      
    }
    .apresentação{
        padding: .6rem;
        border-radius: 10px;
        text-align: center;
    }
    .apresentação .apresenta{
        margin: auto;
    }
    
    .apresentação h2{
        color: yellowgreen;
        text-align: center;
        font-size: 1.5rem;
    }
    .apresentação span{
        text-align:start;
        font-family: cursive;
        font-weight: bold;
        color: var(--segunda-cor);
    }
    .apresentação strong{
        font-family: cursive;
        font-weight: 600;
        text-align: initial;
    }
    .apresentação p{
        font-size: .8rem;
        text-align: initial;
        font-family: Arial, Helvetica, sans-serif;
        margin: .6rem 0rem;
    }
    .apresentação h4{
       font-family: Arial, Helvetica, sans-serif;
       font-size: .8rem;
       text-align: center;
    }
    .apresentação .informações{
        position: relative;
        width: 100%;
        height: 45px;
        padding: 0px 0.3rem;
        border-radius: 10px;
        box-shadow: 2px 2px 4px #0000002b;
        background-color: #acff2f4a;
        margin: auto;
        transition: 1.5s;
    }
    .apresentação .informações:hover{
        height: auto;
        padding: 0px 2rem;
        border-radius: 10px;
        box-shadow: 2px 2px 4px #0000002b;
        background-color: #acff2f93;
        margin: auto;
    }
    .apresentação .informações h3{
        font-size: 1.1rem;
        margin-top: -5.5%;
        color: rgba(0, 0, 0, 0.281);
    }
    .divisor  h2{
        font-size: 1.5rem;
        color: var(--terceira-cor);
        text-align: center;
    }
    .mod2{
        display: none;
    }
    .cards{
        width: 97%;
        margin: 2rem auto;
        display: flex;
        flex-direction: column;
        box-shadow: 2px 2px 4px #0000002b;
        background-color: #acff2f40;
        border-radius: 10px;
    }
    .cards:hover{
        width: 98%;
        margin: 2rem auto;
        display: flex;
        flex-direction: column;
        box-shadow: 2px 2px 6px #00000045;
        background-color: #acff2f82;
        border-radius: 10px;
    }
    
    .cards .organiza{
        display: block;
        
    }
    
    .cards div h2{
        font-family: cursive;
        font-size: 1.2rem;
        color: var(--segunda-cor);
        text-align: center;
    }
    .cards  h4{
        font-size: 0rem;
    }
    .cards .organiza:hover h5{
        display: none;
      }
    .cards .texto{
        width: 100%;
        width: fit-content;
        padding: .1rem 1rem;
       
    }
    .cards .organiza h5{
        display: block;
        margin: auto;
        margin-top: -8%;
        font-size: 1.2rem;
        width: 90px;
        padding: 0px 6px;
        background-color: #defaa6;
        color: #1c5931;
        position: relative;
        z-index: 1;
        border-radius: 5px;
        box-shadow: 2px 2px 3px #0000005e;
    }
    .cards p{
        font-family: cursive;
        font-size: 1rem;
        color: var(--primeira-cor);
        text-align: center;
    }
    .cards .organiza ul{
        display: none;
    }
    .cards .organiza:hover ul{
        display: block;
        padding: .5rem;
    }
    .cards .organiza ul li{
        font-family: auto;
        list-style-type:disc;
        font-size: .9rem;
        color: var(--segunda-cor);
    }

    .contem{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 1.4s;
    }
    .contem:hover{
        width: 100%;
        justify-content: flex-start;
        border: 2px solid var(--terceira-cor);
        margin: 2rem;
        border-radius: 10px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.425);
        padding: 10px;
        background-color: rgba(172, 255, 47, 0.151); 
    }
    .contem:hover h4{
      font-size: 0rem;
    }
    .contem h2{
        color: yellowgreen;
        text-align: center;
        font-size: 1.2rem;
    }
    .divide .ínformações ul{
       display: none;
       transition: 2s;
    }
    .divide .ínformações ul li{
        font-family: Arial, Helvetica, sans-serif;
        font-size: .8rem;
        list-style-type: circle;
    }
    .contem button {
        background-color: yellowgreen;
        color:  rgb(255, 255, 255);
        font-size: 1.1rem;
        width: 70%;
        border-radius: 5px;
        box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.379);
        margin: 0.3rem 4rem;
        }
        .contem  button:hover{
        background-color: rgb(219, 239, 200);
        color: yellowgreen;
        border: 1px solid yellowgreen;
    }
    .informações .exibe{
        display: block;
        font-family: cursive;
    }
    .informações .esconde{
        display: none;
    }
    .informações span svg{
        font-size: 1.7rem;
    }
}

@media (min-width:320px){
    .apresentação{
        padding: 2rem;
    }
 
}
@media (min-width:360px){
    .hea{
        background-position-y: 5rem;
        padding-top: 5rem;
        background-image: url('.././image/3.png');
        background-size: 130%;
    }
    .hea .contain{
        min-height: 181px;
    }
    .hea h1{
        padding-top: 5%;
        font-size: 1.8rem;
    }
    .hea h3{
        width: 75%;
        font-size: 1.1rem;
        margin-left: 24%;
    }
    .hea .but{
        margin-left: 30%;
        margin-bottom: .3rem;
    }
    .apresentação h2{
        font-size: 1.7rem;
    }
    .apresentação h4{
        font-size: .9rem;
     }
     .divisor  h2{
        font-size: 1.6rem;
    }
 
}
@media (min-width:375px){
    .hea{
        background-position-y: 5rem;
        padding-top: 5rem;
        background-image: url('.././image/3.png');
        background-size: 130%;
    }
    .hea .contain{
        min-height: 191px;
    }
    .hea h1{
        padding-top: 5%;
        font-size: 1.8rem;
    }
    .hea h3{
        width: 69%;
        font-size: 1.2rem;
        
    }
    .hea .but{
        margin-left: 30%;
        margin-bottom: .3rem;
    }
 
}
@media (min-width:390px){
    .hea .contain{
        min-height: 195px;
    }
 
}
@media (min-width:410px){
    .hea{
        background-image: url('.././image/3.png');
        background-size: 130%;
    }
    .hea .contain{
        min-height: 208px;
    }
    .hea h1{
        padding-top: 5%;
        font-size: 2rem;
    }
    .hea h3{
        width: 69%;
        font-size: 1.3rem;
        margin-left: 30%;
    }
    .hea .but{
        margin-left: 30%;
        margin-bottom: .3rem;
    }
    .apresentação h2{
        font-size: 1.8rem;
    }
    .apresentação h4{
        font-size: .9rem;
     }
     .divisor  h2{
        font-size: 1.7rem;
    }
}
@media (min-width:512px){

 
}
@media (min-width:540px){
    .hea{
        background-position-y: 4rem;
        padding-top: 4rem;
        background-image: url('.././image/3.png');
        background-size: 130%;
    }
    .hea .contain{
        min-height: 270px;
    }
    .hea h1{
        padding-top: 10%;
    }
    .cards .organiza h5{
        margin-top: -5%;
    }
 
}
@media (min-width:720px){

 
}
@media (min-width: 768px){
    .hea{
        background-position-y: 4rem;
        padding-top: 4rem;
        background-image: url('.././image/3.png');
        background-size: 100%;
    }

    .hea .contain{
        min-height: 297px;
    }

    .hea h1{
        font-size: 3rem;
    }
    .hea h3{
        font-size: 2rem;  
    }
    .hea .but{
        gap: 30px;
        margin-left: 30%;
    }
    .hea .but button{
        font-size: 1.5rem;
        min-width: 190px;
    }
    .apresentação h4{
        font-size: .9rem;
        width: 80%;
        margin: auto;
     }
     .apresentação h2{
        font-size: 2.5rem;
    }

     .divisor  h2{
        font-size: 2.3rem;
    }
    .apresentação .informações{
        height: 60px;
    }
    .apresentação .informações h3{
        font-size: 2.2rem;
        margin-left: 34%
    }
    .cards .organiza{
        display:flex;
        
    }
    .cards .organiza h5{
        display: none;

    }
    .cards .organiza ul li{
        font-size: 1rem;
    }
    .mod1{
        display: none;
    }
    .mod2{
        display: block;
    }
    .cards  ul{
        display: none;
    }
    .cards:hover ul{
        display: block;
        padding: .5rem;
    }

}


@media (min-width: 820px){
    .hea{
        background-position-y: 4rem;
        padding-top: 4rem;
        background-image: url('.././image/3.png');
        background-size: 100%;
    }

    .hea .contain{
        min-height: 316px;
    }

    .hea h1{
        font-size: 3rem;
    }
    .hea h3{
        font-size: 2rem;  
    }
    .hea .but{
        gap: 30px;
        margin-left: 30%;
    }
    .hea .but button{
        font-size: 1.5rem;
        min-width: 190px;
    }
    .apresentação h4{
        font-size: .9rem;
        width: 80%;
        margin: auto;
     }
     .apresentação h2{
        font-size: 2.5rem;
    }

     .divisor  h2{
        font-size: 2.3rem;
    }
    .apresentação .informações{
        height: 60px;
    }
    .apresentação .informações h3{
        font-size: 2.2rem;
        margin-left: 34%
    }
 
}
@media (min-height: 280px) and (orientation: landscape){
    .hea{
        background-position-y: 4rem;
        padding-top: 4rem;
        background-image: url('.././image/3.png');
        background-size: 107%;
    }
    .pos{
        display: flex;
        justify-content: flex-end;
    }
    .hea h1{
        font-size: 2.5rem;
    }
    .hea h3{
        font-size: 1.5rem;  
    }

    .hea .but button{
        font-size: 1.5rem;
        min-width: 190px;
        padding: 4px;
    }
    .cards .organiza{
        display:flex;
        
    }
    .cards .organiza h5{
        display: none;

    }
    .cards .organiza ul li{
        font-size: 1rem;
    }
    .mod1{
        display: none;
    }
    .mod2{
        display: block;
    }
    .cards  ul{
        display: none;
    }
    .cards:hover ul{
        display: block;
        padding: .5rem;
    }
    .cards p{
        font-size: .8rem;
    }

}
@media (min-height: 360px) and (orientation: landscape){
    .hea .contain{
        min-height: 371px;
    }
    .pos{
        display: flex;
        justify-content: flex-end;
    }
    .hea h1{
        font-size: 3rem;
    }
    .hea h3{
        font-size: 2rem;  
    }

    .hea .but button{
        font-size: 2rem;
        min-width: 230px;
        padding: 6px;
    }
    .cards .organiza{
        display:flex;
        
    }
    .cards .organiza h5{
        display: none;

    }
    .cards .organiza ul li{
        font-size: 1rem;
    }
    .mod1{
        display: none;
    }
    .mod2{
        display: block;
    }
    .cards  ul{
        display: none;
    }
    .cards:hover ul{
        display: block;
        padding: .5rem;
    }
    .cards p{
        font-size: .9rem;
    }

}
@media (min-height: 375px) and (orientation: landscape){
    .hea .contain{
        min-height: 335px;
    }
    .pos{
        display: flex;
        justify-content: flex-end;
    }
    .hea h1{
        font-size: 3rem;
    }
    .hea h3{
        font-size: 2rem;  
    }

    .hea .but button{
        font-size: 1.5rem;
        min-width: 190px;
        padding: 3px;
    }
    .cards .organiza{
        display:flex;
        
    }
    .cards .organiza h5{
        display: none;

    }
    .cards .organiza ul li{
        font-size: 1rem;
    }
    .mod1{
        display: none;
    }
    .mod2{
        display: block;
    }
    .cards  ul{
        display: none;
    }
    .cards:hover ul{
        display: block;
        padding: .5rem;
    }
}
@media (min-height: 390px) and (orientation: landscape){
    .hea{
        background-position-y: 4rem;
        padding-top: 4rem;
        background-image: url('.././image/3.png');
        background-size: 103%;
    }
    .cards p{
        font-size: 1rem;
    }
}

@media (min-height: 720px) and (orientation: landscape){

}
@media (min-height: 768px) and (orientation: landscape){

}
@media (min-width: 900px){
    .hea .contain{
        min-height: 352px;
    }
    .hea h1{
        padding-top: 10%;
    
    }
}
@media (min-height: 410px) and (orientation: landscape){
    .hea{
        background-position-y: 4rem;
        padding-top: 4rem;
        background-image: url('.././image/3.png');
        background-size: 101%;
    }
    .hea .contain{
        min-height: 350px;
    } 
    .mod1{
        display: block;
    }
    .mod2{
        display: none;
    }
    .cards p{
        font-size: .9rem;
    }
}
@media (min-height: 512px) and (orientation: landscape){

}
@media (min-height: 540px) and (orientation: landscape){
    .hea .contain{
        min-height: 360px;
    }
    .mod1{
        display: none;
    }
    .mod2{
        display: block;
    }
}

@media (min-width: 1024px){
    .hea .contain{
        min-height: 395px;
    }
    .pos{
        display: flex;
        justify-content: flex-end;
    }

    .hea h1{
        font-size: 4rem;
    }
    .hea h3{
        width: 60%;
        font-size: 2.5rem;  
    }
    .hea .but{
        margin-left: 20%;
    }

    .hea .but button{
        font-size: 2rem;
        min-width: 230px;
        padding: 6px;
    }
    .apresentação h4{
        font-size: 1rem;
        width: 80%;
        margin: auto;
     }
     .apresentação h2{
        font-size: 3rem;
    }
    .apresentação p{
        font-size: 1.1rem;
    }

     .divisor  h2{
        font-size: 2.8rem;
    }
    .mod1{
        display: block;
    }
    .mod2{
        display: none;
    }
}
@media (min-height: 820px) and (orientation: landscape){
    .hea .contain{
        min-height: 456px;
    }
    .apresentação .informações h3{
        font-size: 3.2rem;
        margin-left: 37%
    }
}
@media (min-width: 1280px){
    .hea .contain{
        min-height: 519px;
    }
    .apresentação .informações h3{
        font-size: 3.2rem;
        margin-left: 37%
    }
}
@media (min-height: 900px) and (orientation: landscape){

}