@media (min-width:280px) {
    .hea {
        z-index: 0;
        position: relative;
        background-position-y: 4.7rem;
        padding-top: 4.7rem;
        background-image: url('.././image/14.png');
        background-size: 157%;
        background-repeat: no-repeat;
        margin: auto;
    }

    .hea .ajusta {
        width: 99.2vw;
        background-color: #1240229a;
        min-height: 170px;
    }

    .hea h1 {
        color: yellowgreen;
        padding-top: 26%;
        text-align: end;
        font-family: fantasy;
        font-size: 1.2rem;
        text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.324);
        margin: 0px .5rem;
    }

    .hea h3 {
        margin: .1rem;
        margin-left: 15%;
        margin-top: -2%;
        color: #DCF2E8;
        text-align: center;
        font-family: 'Caveat', cursive;
        font-weight: 500;
        font-size: .9rem;
        text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.324);

    }

    .hea .but {
        display: flex;
        justify-content: center;
        font-family: 'Caveat', cursive;
        gap: 15px;
        margin-left: 17%;
        margin-bottom: .3rem;
    }

    .hea .but button {
        padding: 1px;
        background-color: rgb(219, 239, 200);
        color: yellowgreen;
        font-size: .9rem;
        font-weight: bold;
        min-width: 95px;
        border: 1px solid yellowgreen;
    }

    .hea .but button:hover {
        background-color: yellowgreen;
        color: rgb(255, 255, 255);

    }

    .apresentação {
        padding: .7rem;
        border-radius: 10px;
        text-align: center;
    }

    .apresentação h2 {
        color: yellowgreen;
        text-align: center;
        font-size: 1.7rem;
    }

    .apresentação span {
        text-align: start;
        font-family: cursive;
        font-weight: bold;
        color: var(--segunda-cor);
    }

    .apresentação strong {
        font-family: cursive;
        font-weight: 600;
        text-align: initial;
    }

    .apresentação p {
        font-size: .8rem;
        text-align: initial;
        font-family: Arial, Helvetica, sans-serif;
        margin: .6rem 0rem;
    }

    .apresentação h4 {
        font-family: Arial, Helvetica, sans-serif;
        padding: 0.5rem;
        font-size: .8rem;
        text-align: center;
    }

    .apresentação .informações {
        position: relative;
        width: 100%;
        height: 60px;
        padding: 0px 0.3rem;
        border-radius: 10px;
        box-shadow: 2px 2px 4px #0000002b;
        background-color: #acff2f4a;
        margin: auto;
        transition: 1.5s;
    }

    .apresentação .informações:hover {
        height: auto;
        padding: 0px 2rem;
        border-radius: 10px;
        box-shadow: 2px 2px 4px #0000002b;
        background-color: #acff2f93;
        margin: auto;
    }

    .apresentação .informações h3 {
        font-size: 1.1rem;
        margin-top: -5.5%;
        color: rgba(0, 0, 0, 0.281);
    }

    .divisor h2 {
        font-size: 1.7rem;
        color: var(--terceira-cor);
        text-align: center;
    }

    .mod2 {
        display: none;
    }

    .cards {
        width: 97%;
        margin: 2rem auto;
        display: flex;
        flex-direction: column;
        box-shadow: 2px 2px 4px #0000002b;
        background-color: #acff2f40;
        border-radius: 10px;
    }

    .cards:hover {
        width: 98%;
        margin: 2rem auto;
        display: flex;
        flex-direction: column;
        box-shadow: 2px 2px 6px #00000045;
        background-color: #acff2f82;
        border-radius: 10px;
    }

    .cards .organiza {
        display: block;

    }

    .cards div h2 {
        font-family: cursive;
        font-size: 1.2rem;
        color: var(--segunda-cor);
        text-align: center;
    }

    .cards h4 {
        font-size: 0rem;
    }

    .cards .organiza:hover h5 {
        display: none;
    }

    .cards .texto {
        width: 100%;
        width: fit-content;
        padding: .1rem 1rem;

    }

    .cards .organiza h5 {
        display: block;
        margin: auto;
        margin-top: -8%;
        font-size: 1.2rem;
        width: 90px;
        padding: 0px 6px;
        background-color: #defaa6;
        color: #1c5931;
        position: relative;
        z-index: 1;
        border-radius: 5px;
        box-shadow: 2px 2px 3px #0000005e;
    }

    .cards p {
        font-family: cursive;
        font-size: 1rem;
        color: var(--primeira-cor);
        text-align: center;
    }

    .cards .organiza ul {
        display: none;
    }

    /* controle mostra ou esconde as uls */
    .cards .organiza:hover ul {
        display: block;
        padding: .5rem;
    }

    .cards .organiza ul li {
        font-family: auto;
        list-style-type: disc;
        font-size: .8rem;
        color: var(--segunda-cor);
    }

    .contem {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 1.4s;
    }

    .contem:hover {
        width: 100%;
        justify-content: flex-start;
        border: 2px solid var(--terceira-cor);
        margin: 2rem;
        border-radius: 10px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.425);
        padding: 10px;
        background-color: rgba(172, 255, 47, 0.151);
    }

    .contem:hover h4 {
        font-size: 0rem;
    }

    .contem h2 {
        color: yellowgreen;
        text-align: center;
        font-size: 1.2rem;
    }

    .divide .ínformações ul {
        display: none;
        transition: 2s;
    }

    .divide .ínformações ul li {
        font-family: Arial, Helvetica, sans-serif;
        font-size: .8rem;
        list-style-type: circle;
    }

    .contem button {
        background-color: yellowgreen;
        color: rgb(255, 255, 255);
        font-size: 1.1rem;
        width: 70%;
        border-radius: 5px;
        box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.379);
        margin: 0.3rem 4rem;
    }

    .contem button:hover {
        background-color: rgb(219, 239, 200);
        color: yellowgreen;
        border: 1px solid yellowgreen;
    }

    .informações .exibe {
        display: block;
        font-family: cursive;
    }

    .informações .esconde {
        display: none;
    }

    .informações span svg {
        font-size: 1.7rem;
    }
}

@media (min-width:360px) {
    .hea {
        background-image: url('.././image/14.png');
        background-position-y: 5rem;
        background-size: 169%;
    }

    .hea .ajusta {
        min-height: 241px;
    }

    .hea h1 {
        padding-top: 27%;
        font-size: 1.9rem;
    }

    .hea h3 {
        font-size: 1.4rem;
        margin-left: 5%;
    }

    .hea .but {
        margin-left: 7%;
    }

    .hea .but button {
        padding: 3px;
        font-size: 1rem;
        min-width: 105px;
    }

}

@media (min-width:375px) {
    .hea {
        background-image: url('.././image/14.png');
        background-position-y: 5rem;
        background-size: 177%;
    }

    .hea .ajusta {
        min-height: 260px;
    }

    .hea h1 {
        padding-top: 34%;
        font-size: 1.9rem;
    }

    .hea h3 {
        font-size: 1.2rem;
    }

}

@media (min-width:390px) {
    .hea {
        background-image: url('.././image/14.png');
        background-position-y: 5rem;
        background-size: 174%;
    }

    .hea .ajusta {
        min-height: 260px;
    }

    .hea h1 {
        padding-top: 34%;
        font-size: 1.9rem;
    }

    .hea h3 {
        font-size: 1.3rem;
    }

}

@media (min-width:410px) {
    .hea {
        background-image: url('.././image/14.png');
        background-position-y: 5rem;
        padding-top: 5rem;
        background-size: 127.4%;
    }

    .hea .ajusta {
        min-height: 120px;
    }

    .hea h1 {
        font-size: 1.7rem;
        padding-top: 18%;
    }

    .hea h3 {
        font-size: 1.3rem;
        margin-left: 23%;
    }

    .hea .but {
        margin-left: 24%;
    }

}

@media (min-width:540px) {
    .hea {
        background-image: url('.././image/14.png');
        background-position-y: 5rem;
        padding-top: 5rem;
        background-size: 129.4%;
    }

    .hea .ajusta {
        min-height: 270px;
    }

    .hea h1 {
        font-size: 2.3rem;
        padding-top: 18%;
    }

    .hea h3 {
        font-size: 1.8rem;
        margin-left: 23%;
    }


    .hea .but button {
        padding: 4px;
        font-size: 1.1rem;
        min-width: 140px;
    }

    .apresentação h4 {
        padding: 0px 1rem;
        font-size: .8rem;
    }
}

@media (min-width: 768px) {
    .hea {
        background-image: url('.././image/14.png');
        background-position-y: 5rem;
        padding-top: 5.3rem;
        background-size: 106%;
    }

    .hea .ajusta {
        width: 100vw;
        min-height: 310px;
    }

    .pos {
        display: flex;
    }

    .hea h1 {
        text-align: end;
    }

    .hea h3 {
        text-align: end;
        margin-right: 1rem;
    }

    .hea .but {
        gap: 30px;
        justify-content: flex-end;
        margin-right: .8rem;
    }

    .hea .but button {
        padding: 3px;
        font-size: 1.3rem;
        min-width: 150px;
    }

    .apresentação {
        padding: 1rem;
    }

    .apresentação h2 {
        font-size: 2rem;
    }

    .apresentação p {
        font-size: .9rem;
        margin: .6rem 0rem;
    }

    .apresentação h4 {
        padding: 0px 3rem;
        font-size: .9rem;
    }

    .apresentação .informações h3 {
        font-size: 1.3rem;
        margin-top: -5.5%;
    }

    .divisor h2 {
        font-size: 2rem;
    }

    .mod1 {
        display: none;
    }

    .mod2 {
        display: block;
    }

    .cards .organiza {
        display: flex;

    }

    .cards ul {
        display: none;
    }

    .cards:hover ul {
        display: block;
        padding: .5rem;
    }

}


@media (min-width: 820px) {
    .hea .ajusta {
        width: 100vw;
        min-height: 328px;
    }

}

@media (min-height: 280px) and (orientation: landscape) {
    .hea {
        background-image: url('.././image/14.png');
        background-position-y: 4rem;
        padding-top: 4rem;
        background-size: 100%;
    }

    .hea .ajusta {
        min-height: 252px;
    }

    .hea h1 {
        font-size: 2rem;
        padding-top: 10%;
    }

    .hea h3 {
        font-size: 1.5rem;
        text-align: end;
        margin-right: 1rem;
    }


    .hea .but {
        justify-content: flex-end;
        margin-right: .8rem;
    }

    .hea .but button {
        padding: 3px;
        font-size: 1rem;
        min-width: 130px;
    }
}

@media (min-height: 360px) and (orientation: landscape) {
    .hea .ajusta {
        min-height: 285px;
    }

    .hea h1 {
        font-size: 2.3rem;
        padding-top: 14%;
    }

    .hea h3 {
        font-size: 1.9rem;
    }

    .hea .but button {
        padding: 4px;
        font-size: 1.2rem;
        min-width: 145px;
    }
}

@media (min-height: 375px) and (orientation: landscape) {
    .hea .ajusta {
        min-height: 258px;
    }

    .hea h1 {
        font-size: 2rem;
        padding-top: 14%;
    }

    .hea h3 {
        font-size: 1.6rem;
    }
}

@media (min-height: 390px) and (orientation: landscape) {
    .hea .ajusta {
        min-height: 326px;
    }

    .hea h1 {
        font-size: 2.5rem;
        padding-top: 14%;
    }

    .hea h3 {
        font-size: 2rem;
    }
}

@media (min-width: 900px) {
    .hea .ajusta {
        width: 100vw;
        min-height: 367px;
    }

    .apresentação h4 {
        padding: 0px 4rem;
        font-size: .9rem;
    }


}

@media (min-height: 410px) and (orientation: landscape) {
    .hea .ajusta {
        min-height: 351px;
    }

    .hea h1 {
        font-size: 2.7rem;
        padding-top: 16%;
    }

    .hea h3 {
        font-size: 2.2rem;
    }

    .hea .but button {
        padding: 5px;
        font-size: 1.3rem;
        min-width: 190px;
    }
}

@media (min-height: 540px) and (orientation: landscape) {
    .hea .ajusta {
        min-height: 278px;
    }

    .hea h1 {
        font-size: 2.4rem;
        padding-top: 11%;
    }

    .hea h3 {
        font-size: 1.9rem;
    }

    .hea .but button {
        padding: 4px;
        font-size: 1.1rem;
        min-width: 150px;
    }
}

@media (min-height: 768px) and (orientation: landscape) {
    .hea .ajusta {
        min-height: 394px;
    }

    .hea h1 {
        font-size: 3rem;
        padding-top: 16%;
    }

    .hea h3 {
        font-size: 2.3rem;
    }

    .hea .but button {
        padding: 6px;
        font-size: 1.4rem;
        min-width: 200px;
    }
}

@media (min-width: 1024px) {
    .hea .ajusta {
        width: 98.7vw;
        min-height: 394px;
    }

    .hea h1 {
        font-size: 3rem;
        padding-top: 16%;
    }

    .hea h3 {
        font-size: 2.3rem;
    }

    .hea .but button {
        padding: 6px;
        font-size: 1.4rem;
        min-width: 200px;
    }

    .apresentação p {
        font-size: 1rem;
        margin: .6rem 0rem;
    }

    .mod1 {
        display: block;
    }

    .mod2 {
        display: none;
    }

    .cards .organiza h5 {
        display: none;
    }

    .cards .organiza ul li {
        font-family: auto;
        list-style-type: circle;
        font-size: 1.1rem;
    }

    .cards p {
        font-size: 1.1rem;
    }
}

@media (min-height: 820px) and (orientation: landscape) {
    .hea {
        background-image: url('.././image/14.png');
        background-position-y: 6rem;
        padding-top: 6rem;
        background-size: 100%;
    }

    .hea .ajusta {
        min-height: 453px;
    }

    .hea h1 {
        font-size: 3.3rem;
        padding-top: 16%;
    }

    .hea h3 {
        font-size: 2.5rem;
    }

    .hea .but button {
        padding: 6px;
        font-size: 1.6rem;
        min-width: 220px;
    }
}

@media (min-width: 1280px) {
    .hea {
        background-image: url('.././image/14.png');
        background-position-y: 4rem;
        padding-top: 4rem;
        background-size: 100%;
    }

    .hea .ajusta {
        min-height: 521px;
    }

    .hea h1 {
        font-size: 3.5rem;
        padding-top: 16%;
    }

    .hea h3 {
        font-size: 2.7rem;
    }

    .hea .but button {
        padding: 7px;
        font-size: 2rem;
        min-width: 250px;
    }
}

@media (min-height: 900px) and (orientation: landscape) {
    .hea {
        background-image: url('.././image/14.png');
        background-position-y: 6rem;
        padding-top: 6rem;
        background-size: 100%;
    }

    .hea .ajusta {
        min-height: 527px;
    }

    .hea h1 {
        font-size: 3.5rem;
        padding-top: 16%;
    }

    .hea h3 {
        font-size: 2.7rem;
    }

    .hea .but button {
        padding: 7px;
        font-size: 2rem;
        min-width: 250px;
    }
}